<!DOCTYPE html>
<html>
<head>
  <title>Traductor Español/Esperanto</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-paper.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="jumbotron">
    <h3>Descomposición de la oración: <%= sentence %></h3>
    <% if(sintagma) { %>
      <h4>La primer parte de la oración es un: <%= sintagma %></h4>
    <% } %>
    <table class="table table-striped table-hover">
      <tr>
        <th>Posición</th>
        <th>Palabra</th>
        <th>Es un</th>
      </tr>
      <% words.forEach(word => { %>
      <tr>
        <td><%= word.index %></td>
        <td><%= word.name %></td>
        <td><%= (word.types) ? word.types.toString() : 'Desconocida' %></td>
      </tr>
      <% }) %>  
    </table>
  </div>
</body>
</html>
